/* .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */
.dropbtn {
  background-color: #F8F8F8;
  border: 1px solid #444;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #EFEFEF;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown div.item {
  cursor: pointer;
}

.dropdown div.item:hover {
  background-color: #ddd;
}

.show {
  display: block;
}